@charset "UTF-8";

input[aria-invalid="false"]:focus,
select[aria-invalid="false"]:focus,
textarea[aria-invalid="false"]:focus,
input:valid:focus,
select:valid:focus,
textarea:valid:focus {
	border: 1px solid;
	box-shadow: 0px 0px 2px 0;
	-webkit-box-shadow: 0px 0px 2px 0;
	-moz-box-shadow: 0px 0px 2px 0;
}
input[aria-invalid="true"],
select[aria-invalid="true"],
textarea[aria-invalid="true"],
input:invalid,
select:invalid,
textarea:invalid {
	border: 1px solid;
	box-shadow: 0px 0px 2px 0;
	-webkit-box-shadow: 0px 0px 2px 0;
	-moz-box-shadow: 0px 0px 2px 0;
}
